<section>
    <div class="container mt-4">
         <a href="/admin/sudheesh" class="btn btn-success mt-5" style="margin-right: 50px; "> Back</a>
    <div class="row">


         <div class="col-md-6">
             <h2 class="text-center">Edit Sudheesh Progress</h2>
             <form action="/admin/edit-sudheesh/{{sudheesh._id}}" method="POST" enctype="multipart/form-data" >
                     <label for="">File No</label>
                 <input type="text" name="ProjectName" class="form-control" value="{{sudheesh.ProjectName}}">

                          <label for="">Status <strong>[ <strong class="bg-dark text-danger">SHEDULED,</strong> <strong class="bg-dark text-primary">ONGOING,</strong> <strong class="bg-dark text-success">COMPLETED</strong>]</strong> </label>
                       <label for="" class="text-muted">Please Copy And Paste Status</label>
                 <input type="text" name="progress" class="form-control" placeholder="{{sudheesh.progress}}">
   
                 <label for="">Client</label>
                 <input type="text" name="RunningMan" class="form-control" value="{{sudheesh.RunningMan}}">

                 <label for="">Cost</label>
                 <input type="text" name="ResourcesMachine" class="form-control"  value="{{sudheesh.ResourcesMachine}}">

                <label for="">Starting Time</label>
                 <input type="text" name="startingTime" class="form-control"  value="{{sudheesh.startingTime}}">

                 <label for="">Ending Time</label>
                 <input type="text" name="CompetionTime" class="form-control" value="{{sudheesh.CompetionTime}}">

                  
                  <label for="">Pending Amount</label>
                 <input type="text" name="PendingAmount" class="form-control" value="{{sudheesh.PendingAmount}}">

                 <label for="">Remarks</label>
                 <input type="text" name="Remarks" class="form-control" value="{{sudheesh.Remarks}}">
                 <button type="submit" class="btn btn-success mt-4">Submit</button>
             </form>

         </div>
      </div>
    </div>
</section>